{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/materialize.min.css' %}" media="screen,projection" />
    <link rel="stylesheet" href='{% static "home/css/style.css" %}'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header class="main-header">
    <nav class="transparent">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#home" class="brand-logo">Quazzu</a>
          <a href="#" class="button-collapse" data-activates="mobile-nav"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down purple-text">
            <li><a href="index.html" class="m-active-link">Home</a></li>
            <li><a href="solutions.html">Solutions</a></li>
            <li><a href="signup.html">Sign Up</a></li>
            <li><a href="#login-modal" class="btn purple modal-trigger">Login</a></li>
            <li><a href="#"><i class="fab fa-facebook"></i> </a></li>
            <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> </a></li>
            </ul>
            <ul class="side-nav" id="mobile-nav">
                <li><h4 class="purple-text center">Quazzu</h4></li>
                <li><div class="divider"></div></li>
                <li><a href="index.html">Home</a></li>
                <li><a href="solutions.html">Solutions</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="#" class="btn purple">Login</a></li>
                <li><a href="#"><i class="fab fa-facebook"></i> </a></li>
                <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> </a></li>
            </ul>
        </div>
      </div>
    </nav>
    <div class="showcase container">
      <div class="row">
        <div class="col s12 m10 offset-m1 center">
          <h5>Welcome To Quazzu</h5>
          <h1>Buixxld<span class="purple-text"> The Future</span></h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit sed voluptates ad quisquam ipsa tempore.</p>
          <br> <br>
          <a href="solutions.html" class="btn-large white purple-text">Learn More</a>
          <a href="signup.html" class="btn-large purple white-text">SIGN UP</a>
        </div>
      </div>
    </div>

  </header>  <ul id="genre-dropdown" class="dropdown-content center">
      <li><a href="#" class="teal">Tech</a></li>
      <li><a href="#" class="teal">Health</a></li>
      <li><a href="#" class="teal">Education</a></li>
      <li><a href="#" class="teal">Others</a></li>
  </ul>
    {% block content %}
    {% endblock %}
    <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="{% static 'home/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/materialize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/test.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('.dropdown-button').dropdown({
        constrainWidth: false,
        hover: true,
        belowOrigin: true,
        alignment: 'left'
      });

      // JAVASCRIPT START HERE //
      $('.button-collapse').sideNav()
      $('select').material_select()
      $('#test').click(() => {
        alert({{post.title}})
      })
    });
  </script>
</body>
</html>