{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/materialize.min.css' %}" media="screen,projection" />
    <link rel="stylesheet" href='{% static "home/css/style.css" %}'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header class="main-header">
    <nav class="transparent">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#home" class="brand-logo">MASU SCHOOLS</a>
          <a href="#" class="button-collapse" data-activates="mobile-nav"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down teal-text">
            <li><a href="/" class="m-active-link dropdown-button" data-activates="home">Home</a></li>
            <li><a href="#" class="dropdown-button" data-activates="schools">Schools</a></li>
            <li><a href="#" class="dropdown-button" data-activates="student">Student Corner</a></li>
            <li><a href="#" class="dropdown-button" data-activates="campus">Campus Life</a></li>
            <li><a href="#" class="dropdown-button" data-activates="mss">MSS</a></li>
            <li><a href="#login-modal" class="btn teal modal-trigger">Login</a></li>
            <li><a href="#"><i class="fab fa-facebook"></i> </a></li>
            <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> </a></li>
            </ul>
            <ul class="side-nav" id="mobile-nav">
                <li><h4 class="teal-text center">MASU SCHOOLS</h4></li>
                <li><div class="divider"></div></li>
                <li><a href="/">Home</a></li>
                <li><a href="#" class="dropdown-button" data-activates="schools-m">Schools</a></li>
                <li><a href="#" class="dropdown-button" data-activates="student-m">Student Corner</a></li>
                <li><a href="#" class="dropdown-button" data-activates="mss-m">MSS</a></li>
                <li><a href="#" class="dropdown-button" data-activates="campus-m">Campus Life</a></li><li><a href="#" class="btn teal">Login</a></li>
                <li><a href="#"><i class="fab fa-facebook"></i> </a></li>
                <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> </a></li>
            </ul>
        </div>
      </div>

      <!-- Dropdowns -->
      <ul class="dropdown-content" id="schools">
          <li><a href="#">Nursery School<z/a></li>
          <li><a href="#">Primary School</a></li>
          <li><a href="#">Secondary School</a></li>
      </ul>
      <ul class="dropdown-content" id="home">
          <li><a href="#">About Us</a></li>
          <li><a href="#">History</a></li>
      </ul>
      <ul class="dropdown-content" id="student">
        <li><a href="{% url 'awards:awards' %}">Awards</a></li>
        <li><a href="{% url  'blog:list_post' %}">Blog</a></li>
        <li><a href="{% url 'alumni:alumni_list' %}">Alumni Hall of Fame</a></li>
        <li><a href="#">Exhibition</a></li>
      </ul>
      <ul class="dropdown-content" id="campus">
          <li><a href="#">Facilities</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Extra-Curricular</a></li>
      </ul>
      <ul class="dropdown-content" id="mss">
        <li><a href="{% url 'anonymous:report' %}">Anonymous Reporting</a></li>
        <li><a href="{% url 'blog:post_new' %}">Make a Blog Post</a></li>
        <li><a href="{% url 'evoting:polllist' %}">E-voting</a></li>
        <li><a href="{% url 'counselor:chat' 'counselor' %}">Counselor Chat</a></li>
      </ul>
      <!-- Mobile Dropdowns -->
      <ul class="dropdown-content" id="schools-m">
        <li><a href="#">Nursery School<z/a></li>
        <li><a href="#">Primary School</a></li>
        <li><a href="#">Secondary School</a></li>
    </ul>
    <ul class="dropdown-content" id="home-m">
        <li><a href="#">About Us</a></li>
        <li><a href="#">History</a></li>
    </ul>
    <ul class="dropdown-content" id="student-m">
      <li><a href="{% url 'awards:awards' %}">Awards</a></li>
      <li><a href="{% url  'blog:list_post' %}">Blog</a></li>
      <li><a href="{% url 'alumni:alumni_list' %}">Alumni Hall of Fame</a></li>
      <li><a href="#">Exhibition</a></li>
    </ul>
    <ul class="dropdown-content" id="campus-m">
        <li><a href="#">Facilities</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Extra-Curricular</a></li>
    </ul>
    <ul class="dropdown-content" id="mss-m">
      <li><a href="{% url 'anonymous:report' %}">Anonymous Reporting</a></li>
      <li><a href="{% url 'blog:post_new' %}">Make a Blog Post</a></li>
      <li><a href="{% url 'evoting:polllist' %}">E-voting</a></li>
      <li><a href="{% url 'counselor:chat' 'counselor' %}">Counselor Chat</a></li>
    </ul>

    </nav>
    <div class="showcase container">
      <div class="row">
        <div class="col s12 m10 offset-m1 center">
          <h1>Building<span class="teal-text"> The Future</span></h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit sed voluptates ad quisquam ipsa tempore.</p>
          <br> <br>
          <a href="solutions.html" class="btn-large white teal-text">Learn More</a>
          <a href="signup.html" class="btn-large teal white-text">ENROLL WARD</a>
        </div>
      </div>
    </div>

  </header>  <ul id="genre-dropdown" class="dropdown-content center">
      <li><a href="#" class="teal">Tech</a></li>
      <li><a href="#" class="teal">Health</a></li>
      <li><a href="#" class="teal">Education</a></li>
      <li><a href="#" class="teal">Others</a></li>
  </ul>
    {% block content %}
    {% endblock %}
    <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="{% static 'home/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/materialize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/test.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('.dropdown-button').dropdown({
        constrainWidth: false,
        hover: true,
        belowOrigin: true,
        alignment: 'left'
      });
      $('.s-dropdown-button').dropdown({
        constrainWidth: false,
        hover: true,
        belowOrigin: true,
        alignment: 'left'
      });

      // JAVASCRIPT START HERE //
      $('.button-collapse').sideNav()
      $('select').material_select()
      $('#test').click(() => {
        alert({{post.title}})
      })
    });
  </script>
</body>
</html>
