{% extends "home_base.html" %}
{% load static %}
{% block title %} Home View {% endblock %}

{% block content %}

<!-- Seacr boxes -->

<!-- What we do -->  
<section class="custom-contain">
  <h2 class="teal-text center-align" style="letter-spacing: 8px;">ABOUT US</h2>
  <div class="row">
    <div class="col s12 m6">
      <img src="{% static 'home/img/bg.jpg' %}" class="responsive-img">
    </div>
    <div class="col s12 m6">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, laborum sint? Harum asperiores quaerat eos corrupti in et rerum aperiam doloremque fugit distinctio. Quos voluptatibus illum ab, perspiciatis alias quidem voluptatem maxime expedita, autem explicabo quod molestias distinctio? Laudantium impedit, cupiditate ut assumenda autem rem alias illo at qui dolore. </p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic animi in eum atque tempore quam laborum dolore debitis sed, repellat sequi laboriosam veniam molestias ad delectus deleniti necessitatibus, velit quis? Exercitationem, eaque dolorem culpa nihil, at quos illo dignissimos quam voluptatem atque quia quae alias unde reprehenderit fugiat soluta officiis labore assumenda in facere quasi.  </p>
    </div>
  </div>
</section>

<!-- Section: Blog -->
<section class="custom-contain">
    <h2 class="teal-text center-align" style="letter-spacing: 8px;">BLOG</h2>
    <div class="row">
    {% for post in posts %}
    <div class="col s12 m3 l3">
      <div class="card">
        <div class="card-image">
          <img src="{{ post.image.url }}" class="responsive-img" style="height: 200px">
          <span class="card-title">{{ post.title }} </span>
        </div>
        <div class="card-content">
          <p>
            {{ post.text|truncatewords:20 }}
          </p>
        </div>
        <div class="card-action">
          <a href="{% url 'home:detail_post' post.pk %}" class="btn-large teal">Read More</a>
        </div>
      </div>
    </div>
    {% empty %}
    <h3>Empty blog</h3>
    {% endfor %}
    
  </div>
</section>

<!-- Section: Ex-student -->
<section class="custom-contain">
    <h2 class="teal-text center-align" style="letter-spacing: 8px;">EX-STUDENT OF THE WEEK</h2>
    <div class="row">
        <div class="col s12 m5">
          <img src="{% static 'home/img/hd10.jpg' %} " class="responsive-img">
        </div>
        <div class="col s12 m6 offset-m1">
          <h4>Jenny Mercendi - Project Manager </h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta recusandae suscipit, eligendi dolorum maxime fugiat consequatur labore aliquam sequi minima ipsam corporis omnis? Exercitationem alias maxime pariatur omnis corporis aliquid, dolore sit officia, maiores molestias cupiditate quae consectetur iusto nulla, sint hic necessitatibus nam a. Sequi beatae odio recusandae consequuntur tempora, nulla voluptatibus. Ullam eligendi vel illo reprehenderit, rem ipsam! </p>
        </div>
      </div>
</section>
{% endblock %}