/* html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
header h1{
  margin-top: 0 !important;
  color: white !important;
}

.chat {

}
.right-align {
  text-align: right;
  background-color: red;
}