/* html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.main-header {
  background: url('../img/img2.jpg');
  height: 90vh;
  background-position: center;
  background-size:cover;
  color: white;
}
.showcase {
  margin-top: 25vh;
}
.custom-contain {
  margin-top:60px;
  padding: 0 80px;
}