{% extends "evoting_base.html" %}

{% block title %} List View {% endblock %}

{% block content %}
        <div class="container">
          <div class="card-panel">
            <div class="card-content">
              {% for poll in polls %}
              <h5 class="card-title">
                <a class="teal-text text-lighten-1" href="{% url 'evoting:pollview' poll.pk %}">{{poll.poll_text}}</a></h5>
              {% endfor %}
            </div>
          </div>
        </div>
{% endblock %}