{% extends "evoting_base.html" %}

{% block title %} List View {% endblock %}

{% block content %}
        <div class="container">
          <div class="card-panel">
            <div class="card-content">
              <h4 class="red">{% if error_message %} {{error_message}} {% endif %}</h4>
              <h3>{{poll.poll_text}}</h3>
              <form action="." method="post">
                {% for option in options %}
                  <input type="radio" class="with-gap" name='options' id='{{option.id}}' value="{{option.id}}">
                  <label for="{{option.id}}">{{option.option_text}}</label> <br>
                {% endfor %}
                <br>
                {% csrf_token %}
                <input type="submit" class="btn">
              </form>
            </div>
          </div>
        </div>
        
{% endblock %}