{% extends "evoting_base.html" %}

{% block title %} List View {% endblock %}

{% block content %}
        <div class="container">
          <div class="card-panel">
            <div class="card-content">
              <h2 class="card-title teal-text text-lighten-1">New Post</h2>
              <div class="divider"></div>
              <form action="." method="post">
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit" class="btn teal lighten-2">
              </form>
            </div>
          </div>
        </div>
{% endblock %}