{% extends "counselor_base.html" %}

{% block title %} Chat Page {% endblock %}

{% block content %}
  <header class="teal-text text-lighten-1 center">
    <h1 style="margin-top: 0; padding: 20px;">{{receiver}}</h1>
    <h4>{{chatss}}</h4>
    <h4>{{user}}</h4>
  </header>
  
  <div class="container">
      <ul>
        {% for chat in chats %}
          {% if chat.sender != receiver %}
            <li class="right-align">
              <span class="teal-text">{{chat.sender}}</span>:
              {{chat.message}}
            </li>  
            <div class="clear"></div>
          {% else %}
            <li class="left-align">
              <span class="teal-text">{{chat.sender}}</span>:
              {{chat.message}}
              <div class="clear"></div>
            </li>
          {% endif %}
        <!-- <li class="">
            <span class="teal-text">{{chat.sender}}</span>:
            {{chat.message}}
          </li> -->

        {% empty %}
          <h4>No chat yet</h4>
        {% endfor %}
        <form action="." method="post">
          {{chat_form}}
          {% csrf_token %}
          <input type="submit" class="btn">
        </form>
      </ul>
    </div>

{% endblock %}