{% extends "counselor_base.html" %}

{% block title %} Friends List {% endblock %}

{% block content %}
  <header class="teal-text text-lighten-1 center">
    <h1 style="margin-top: 0; padding: 20px;">Friends</h1>
  </header>
  <ul>
    {% for user in users %}
      <li><a href="{% url 'counselor:chat' user.username %}">{{user.username}}</a> </li>
    {% empty %}
      <h3>No users yet</h3>
    {% endfor %}
  </ul>
{% endblock %}