{% extends "counselor_base.html" %}

{% block title %} Chat Page {% endblock %}

{% block content %}
  <header class="teal-text text-lighten-1 center">
    <h1 style="margin-top: 0; padding: 20px;">{{receiver}}</h1>
    <h4>{{chatss}}</h4>
  </header>
  <ul>
    {% for chat in chats %}
      <li>
        <span class="teal-text">{{chat.sender}}</span>:
        {{chat.message}}
      </li>
    {% empty %}
      <h4>No chat yet</h4>
    {% endfor %}
    <form action="." method="post">
      {{chat_form}}
      {% csrf_token %}
      <input type="submit" class="btn">
    </form>
  </ul>

{% endblock %}