{% extends "awards_base.html" %}

{% block title %} AWARDS {% endblock %}

{% block content %}
  <header class="teal-text text-lighten-1 center">
    <h1 style="margin-top: 0; padding: 20px;">AWARDS</h1>
  </header>
  <div class="center">
    <h3 class="teal-text">JSS 1</h3>
    <div class="row">
        {% for award in awards1 %}
        <div class="col s12 m3">
          <div class="card">
          <div class="card-image">
            <img src="{{ award.image.url }}" alt="">
          </div>
          <div class="card-content">
            <div class="card-title">{{ award.award }}</div>
            <p>{{ award.name}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="center">
      <h3 class="teal-text">TEACHERS</h3>
      <div class="row">
          {% for award in awards7 %}
          <div class="col s12 m3">
            <div class="card">
            <div class="card-image">
              <img src="{{ award.image.url }}" alt="">
            </div>
            <div class="card-content">
              <div class="card-title">{{ award.award }}</div>
              <p>{{ award.name}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}