{% extends "alumni_base.html" %}

{% block title %} List View {% endblock %}

{% block content %}
<div class="container">
  <div class="card horizontal">
    <div class="card-image">
      <img src="{{alumni.image.url}}" alt="">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <div class="card-title">{{alumni.name}}</div>
        <h4>{{alumni.pro_fields}} - {{alumni.profession}} - {{alumni.grad_year}}</h4>
        <p>{{alumni.hobbies}}</p>
        <br>
        <p>{{alumni.motivation}}</p>
        <br>
        <p>{{alumni.success_secret}}</p>
        <br>
        <p>{{alumni.story))</p>
        <br>
        <p>{{alumni.advice}} </p>
      </div>
     </div>
   </div>
 </div>
        
{% endblock %}