{% extends "alumni_base.html" %}

{% block title %} Hall of Fame {% endblock %}

{% block content %}
<h2 class="teal-text center-align" style="letter-spacing: 8px;">EX-STUDENT HALL OF FAME</h2>

    {% for alumni in alumnis %}
       <div class="container">
          <div class="card">
            <div class="row">
                <div class="col s12 m6">
                  <img src="{{alumni.image.url}}" class="responsive-img" style="height:300px; width:100%;">
                </div>
                <div class="col s12 m6">
                     <div>
                       <div class="card-title"><h4 style="margin: 0;"> {{alumni.name}} - {{alumni.pro_field}} - {{alumni.profession}} - {{alumni.grad_year}}</h4>
                       </div>
                       <p><strong>Hobbies:</strong> {{alumni.hobbies}}</p>
                       <p><strong>Motivation: </strong>{{alumni.motivation}}</p>
                       <p><strong>Success Secret: </strong>{{alumni.success_secret}}</p>
                       <p><strong>Brief Story: </strong>{{alumni.story}}</p>
                        <p><strong>Advice: </strong>{{alumni.advice}} </p>
                    </div>
                </div>
              </div>
            <div class="card-image">
            </div>
            
           </div>
         </div>
    {% endfor %}
{% endblock %}


    <!-- <div class="container">
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{alumni.image.url}}" class="responsive-img">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <div class="card-title"><h4 style="margin: 0;"> {{alumni.name}} - {{alumni.pro_field}} - {{alumni.profession}} - {{alumni.grad_year}}</h4>
              </div>
              <p><strong>Hobbies:</strong> {{alumni.hobbies}}</p>
              <br>
              <p><strong>Motivation: </strong>{{alumni.motivation}}</p>
              <br>
              <p><strong>Success Secret: </strong>{{alumni.success_secret}}</p>
              <br>
              <p><strong>Brief Story: </strong>{{alumni.story}}</p>
              <br>
              <p><strong>Advice: </strong>{{alumni.advice}} </p>
            </div>
           </div>
         </div>
       </div> -->
