.main-header {
    background: url('../img/background.jpg');
    height: 90vh;
    background-position: center;
    background-size:cover;
    color: white;
}

.main-header .showcase {
    margin-top: 100px;
}
.main-header-inner {
    background: url('../img/background.jpg');
    height: 250px;
    background-position: center;
    background-size:cover;
    color: white;
}

.main-header-header .showcase {
    margin-top: 50px;
}
.m-active-link {
    color: #d847f1;
    font-weight: bold;
}
.section-developers {
    position: relative;
    background: url('../img/code.jpg');
    background-size: center;
    background-position: cover;
    min-height: 160px;
    border-top: #333 solid 5px;
    border-bottom: #333 solid 5px;
}

.primary-overlay {
    background: rgba(112, 81, 176, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.section-podcast {
    background: url('../img/circuit.jpg');
    position: relative;
    background-size: center;
    background-position: cover;
    min-height: 160px;
    border-top: #333 solid 5px;
    border-bottom: #333 solid 5px;
}
.section-podcast .primary-overlay {
    background: rgba(112, 81, 176, 0.8) 
}

.section-signup {
    padding-top: 60px;
}
.section-signup form {
    padding: 20px;
}
.section-signup form .btn-large {
    width: 100%;
}
@media (max-width: 500px) {
    .section-developers, .section-podcast {
        min-height: 100px;
    }
}

.carousel-item p {
    font-size: 20px !important;
}



/* Miscelaneous */
.section-solutions-about .tabs .indicator {
    background-color: #6a1b9a;
}

.padd {
    padding: 10px;
}