{% extends "base.html" %}

{% block title %} List View {% endblock %}

{% block content %}
        <div class="container">
          <div class="card-panel">
            <div class="card-content">
              <h2 class="card-title teal-text text-lighten-1">Welcome to your dashboard {{user.first_name}}</h2>
              <div class="divider"></div>
              <div class="row">
                <div class="col s12 m4 offset-m1">
                  <h3 class="teal-text">Draft Posts</h3>
                  {% for post in draft_posts %}
                    <h5>{{post.title}}</h5>
                  {% endfor %}
                </div>
                <div class="col s12 m4 offset-m1">
                  <h3 class="teal-text">Published Posts</h3>
                  {% for post in published_posts %}
                    <h5>{{post.title}}</h5>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        
{% endblock %}