{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="s12 m8 offset-m2">
          <div class="card-panel">
            <h2 class="card-title">LOGIN</h2>
            <div class="divider"></div>
            <form action="." method="post">
              {{ login_form.as_p }}
              {% csrf_token %}
              <input type="submit" class="btn teal">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}