{% extends "blog_base.html" %}

{% block title %} List View {% endblock %}

{% block content %}
        <div class="container">
          <div class="card-panel">
            <div class="card-content">
              <h2 class="card-title teal-text text-lighten-1">{{post.title}}</h2>
              <div class="divider"></div>
              <img src="{{ post.image.url }} " class="responsive-img">
              <h6 class="teal-text text-lighten-3">Published by {{post.author}}, on {{post.created}}</h6>
              <p>{{post.text}}</p>
            </div>
            <div class="card-footer">
              <h4 class="teal-text text-lighten-1">Comments:</h4>
              <div class="divider"></div>
                {% for comment in comments %}
                  <h5 class="teal-text text-lighten-3">Comment by: {{comment.name}}</h5>
                  <p>{{comment.text}}</p>
                {% endfor %}
                <h4 class="teal-text text-lighten-1">Add Comment:</h4>
                <form action="." method="post">
                  {{ comment_form.as_p }}
                  {% csrf_token %}
                  <input type="submit" class="btn teal lighten-1">
                </form>
            </div>
          </div>
        </div>
        
{% endblock %}