{% extends "blog_base.html" %}

{% block title %} Blog Posts {% endblock %}

{% block content %}
  <h2 class="teal-text center text-lighten-1">STUDENTS BLOG</h2>
    {% for post in posts %}
        <div class="container">
          <div class="card horizontal">
            <div class="card-image">
                <img src="{{ post.image.url }}" class="responsive-img">
            </div>
            <div class="card-content">
              <h5 class="card-title">
                <a class="teal-text text-lighten-1" href="{% url 'blog:detail_post' post.pk %}">{{post.title}}</a></h5>
              <p>{{post.text|truncatewords:50}}</p>
              <h6 class="teal-text text-lighten-3">Published by {{post.author}}, on {{post.published}}</h6>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}