.slider .btn-large {
    margin-top: 20px;
}

.input-field .m-search-field {
    font-size: 20px !important;
    padding: 5px !important;
}

.autocomplete-content {
    position: absolute;
    width: 100%;
    text-align: center;
}
.section-gallery .materialboxed {
    margin: 10px;
}
.section-contact .h5 {
    margin-bottom: 30px;
}