<!-- {% load account_tags %} -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="teal lighten-2">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Smart School</a>
        <a href="#" class="button-collapse" data-activates="mobile-nav"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="#" class="dropdown-button" data-activates='genre-dropdown'>Genres</a></li>
            <li><a href="#">Posts</a></li>
            <li><a href="#">Authors</a></li>
            <li><a href="#" class="btn white teal-text waves-effect waves-teal">New Post</a></li>
            <li><a href="{% url 'blog:post_new' %}" class="btn white teal-text waves-effect waves-teal">New Post</a></li>
          </ul>

        <ul id="mobile-nav" class="side-nav">
          <li><a href="blog/list.html" class="btn teal lighten-2">Home</a></li>
          <li><a href="#" class="dropdown-button btn teal lighten-2" data-activates='genre-dropdown'>Genres</a></li>
          <li><a href="#" class="btn teal lighten-2">Posts</a></li>
          <li><a href="#" class="btn teal lighten-2">Authors</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <ul id="genre-dropdown" class="dropdown-content center">
      <li><a href="#" class="teal">Tech</a></li>
      <li><a href="#" class="teal">Health</a></li>
      <li><a href="#" class="teal">Education</a></li>
      <li><a href="#" class="teal">Others</a></li>
  </ul>
    {% block content %}
    {% endblock %}
    <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/test.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('.dropdown-button').dropdown({
        constrainWidth: false,
        hover: true,
        belowOrigin: true,
        alignment: 'left'
      });

      // JAVASCRIPT START HERE //
      $('.button-collapse').sideNav()
      $('select').material_select()
    });
  </script>
</body>
</html>