{% extends "anon_base.html" %}

{% block title %} List View {% endblock %}

{% block content %}
    {% for report in reports %}
        <div class="container">
          <div class="card-panel">
            <div class="card-content">
              <h5 class="card-title">
                <a class="teal-text text-lighten-1" href="#">{{report.title}}</a></h5>
              <p>{{report.text}}</p>
              <h6 class="teal-text text-lighten-3">Published on {{report.reported}}</h6>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}