/* html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.main-header {
  background: url('../img/bg1.jpg');
  height: 40vh;
  background-position: center;
  background-size:cover;
  color: white;
}