{% extends "evoting_base.html" %}

{% block title %} List View {% endblock %}

{% block content %}
        <div class="container">
          <div class="card-panel">
            <div class="card-content">
              <h4 class="red">{% if error_message %} {{error_message}} {% endif %}</h4>
              <form action="." method="post">
              <div class="card-panel">
                <div class="card-content">
                    <h3>{{poll1.poll_text}}</h3>
                    {% for option in poll1.options.all %}
                      <input type="radio" class="with-gap" name='poll1' id='{{option.id}}' value="{{option.id}}">
                      <label for="{{option.id}}">{{option.option_text}}</label> <br>
                    {% endfor %}
                </div>
              </div>
              <div class="card-panel">
                <div class="card-content">
                    <h3>{{poll2.poll_text}}</h3>
                    {% for option in poll2.options.all %}
                      <input type="radio" class="with-gap" name='poll2' id='{{option.id}}' value="{{option.id}}">
                      <label for="{{option.id}}">{{option.option_text}}</label> <br>
                    {% endfor %}
                    <br>
                    {% csrf_token %}
                </div>
              </div>
              <input type="submit" class="btn">
            </form>
          </div>
          </div>
        </div>

          
{% endblock %}




















<!-- 
<div class="container">
  <div class="card-panel">
    <div class="card-content">
      <h4 class="red">{% if error_message %} {{error_message}} {% endif %}</h4>
      <form action="." method="post">
        {% for poll in polls %}
      <div class="card-panel">
        <div class="card-content">
            <h3>{{poll.poll_text}}</h3>
            {% for option in poll.options.all %}
              <input type="radio" class="with-gap" name='option{{option.id}}' id='{{option.id}}' value="{{option.id}}">
              <label for="{{option.id}}">{{option.option_text}}</label> <br>
            {% endfor %}
            <br>
            {% csrf_token %}
        </div>
      </div>
      {% endfor %}
      <input type="submit" class="btn">
    </form>
  </div>
  </div>
</div> -->